<div class="citation-box">
  <div class="citation-header">
    <span>BibTeX</span>
    <button class="btn-copy-citation" aria-label="Copy citation to clipboard">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copy" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <rect x="8" y="8" width="12" height="12" rx="2"></rect>
        <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2"></path>
      </svg>
      <span class="copy-text">Copy</span>
    </button>
  </div>
  <pre class="citation-content"><code>{{ .Inner | safeHTML }}</code></pre>
</div>

<script>
document.querySelector('.btn-copy-citation').addEventListener('click', function() {
  const code = this.closest('.citation-box').querySelector('code').innerText;
  navigator.clipboard.writeText(code).then(() => {
    const copyText = this.querySelector('.copy-text');
    const originalText = copyText.innerText;
    copyText.innerText = 'Copied!';
    this.classList.add('copied');
    setTimeout(() => {
      copyText.innerText = originalText;
      this.classList.remove('copied');
    }, 2000);
  });
});
</script>
