// Put your custom SCSS variables here

// --- Gruvbox-inspired Beige Palette (Less yellow) ---
$body-bg: #f9f5ed; // Soft Beige
$body-color: #3c3836; // Gruvbox Light Foreground
$primary: #af3a03; // Gruvbox Light Orange (Accent)
$headings-color: #282828; // Gruvbox Light Hard Foreground
$link-color: #076678; // Gruvbox Light Blue
$link-hover-color: #427b58; // Gruvbox Light Aqua
$navbar-bg-light: #f0e9d9; // Medium Beige

// --- Gruvbox Dark Palette ---
$body-bg-dark: #282828; // Gruvbox Dark Background
$body-color-dark: #ebdbb2; // Gruvbox Dark Foreground
$headings-color-dark: #fbf1c7; // Gruvbox Dark Hard Foreground
$link-color-dark: #fabd2f; // Gruvbox Dark Yellow (Accent)
$button-color-dark: $link-color-dark;
$border-dark: #3c3836; // Gruvbox Dark Background 1
$body-overlay-dark: #3c3836; // Gruvbox Dark Background 1
$navbar-dark-active-color: #fe8019; // Gruvbox Dark Orange
$dots-dark: #504945; // Gruvbox Dark Background 2

// --- Other overrides ---
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1240px,
  xxl: 1520px
);

$font-size-base:              1.2rem;
$font-size-md:                $font-size-base * 1.125;
$font-size-xl:                $font-size-base * 1.375;
